<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Platform that brings businesses and individuals together">
  <meta name="author" content="Longe Pelumi">

  <title>Register Business</title>
  
  <link rel="shortcut icon" href="">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="weconnect.html">
</head>

<body class="bg-light">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="index.html">WeConnect</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="business-catalog.html">All Businesses</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="register-business.html">Register Business<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html">Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="mt-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="card py-3 col-xs-12 col-sm-10">
          <div class="container">
            <h2 class="text-center">Register your new business</h2>
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="companyName">Company Name</label>
                  <input type="text" class="form-control" id="companyName" placeholder="Company Name">
                </div>
                <div class="col-md-6">
                  <label>Upload a profile picture</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="company-picture">
                    <label class="custom-file-label" for="company-picture">Choose file</label>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="company-address">Address</label>
                  <input type="text" class="form-control" id="company-address" placeholder="Street">
                </div>
                <div class="form-group col-md-3">
                  <label for="company-city">City</label>
                  <input type="text" class="form-control" id="company-city" placeholder="City">
                </div>
                <div class="form-group col-md-3">
                  <label for="company-state">State</label>
                  <select id="company-state" class="form-control">
                    <option value="0" selected>Choose...</option>
                    <option value="1">Lagos</option>
                    <option value="2">Abuja</option>
                    <option value="3">Calabar</option>
                    <option value="4">Enugu</option>
                  </select>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="company-phoneNo">Phone Number</label>
                  <input type="text" class="form-control" id="company-phoneNo" placeholder="Phone Number">
                </div>
                <div class="form-group col-md-4">
                  <label for="company-postalAddress">Postal Address</label>
                  <input type="text" class="form-control" id="company-postalAddress" placeholder="Postal Address">
                </div>
                <div class="form-group col-md-4">
                  <label for="company-workingHours">Working hours</label>
                  <input type="text" class="form-control" id="company-workingHours" placeholder="____  to  ____">
                </div>
              </div>
              <div class="form-group">
                <label for="company-summary">About your business</label>
                <textarea type="text" class="form-control" id="company-summary" rows="5"></textarea>
              </div>
              <a href="#" type="submit" class="btn btn-primary pull-right">Register</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="mt-4 py-3 navbar-dark bg-dark">
    <div class="container text-center text-white">
        <p class="d-inline">Copyright &copy; 2018&nbsp;</p>
        <p class="d-inline border-left">&nbsp; Made with <span class="text-danger">&#9829;</span> by Longe Pelumi</p>
        
    </div>
  </footer>

  <script src=""></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>
</html>