.small-profile-pic {
  width: 5rem;
}

.overflow {
  overflow: hidden;
}

.catalog-profile-pic {
  height: 15rem;
  transition: all .5s ease-in-out;
}

.catalog-profile-pic:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.compact-pic {
  height: 10rem;
}

.header {
  background: url("./../images/market_place.jpg") no-repeat;
  height: 15rem;
  background-size: cover;
  background-position: 50% 55%;
}

.h200 {
  height: 200px;
}

.checked {
  color: orange;
}

.footer {
  width:100%;
	position:absolute;
	bottom:0;
	left:0;
}

.holder {
  min-height:100vh;
  position:relative;
}

.pb-main {
  padding-bottom: 75px;
}

.tab {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  height: 25rem;
  padding: 50px 0;

  .tablink {
    cursor: pointer;

    &:hover {
      background-color: #ddd;
    }
    
    &:active {
      background-color: #ccc;
    }
  }
}
